@font-face {
    font-family: 'EuclidCircular';
    src: url('../assets/font/Euclid\ Circular\ A\ Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EuclidCircular';
    src: url('../assets/font/Euclid\ Circular\ A\ Bold\ Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'EuclidCircular';
    src: url('../assets/font/Euclid\ Circular\ A\ Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'EuclidCircular';
    src: url('../assets/font/Euclid\ Circular\ A\ Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'EuclidCircular';
    src: url('../assets/font/Euclid\ Circular\ A\ Light\ Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'EuclidCircular';
    src: url('../assets/font/Euclid\ Circular\ A\ Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'EuclidCircular';
    src: url('../assets/font/Euclid\ Circular\ A\ Medium\ Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'EuclidCircular';
    src: url('../assets/font/Euclid\ Circular\ A\ Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'EuclidCircular';
    src: url('../assets/font/Euclid\ Circular\ A\ SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'EuclidCircular';
    src: url('../assets/font/Euclid\ Circular\ A\ SemiBold\ Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--mainFontPoppins);
}

main {
    background-color: #fafafa;
}

dl, ol, ul, li {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
}

a {
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6
{
    margin: 0 !important;
}

p {
    margin: 0;
}

:root {
    --mainColor: #05112b;
    --skyColor: #43efff;
    --mainFontPoppins: 'EuclidCircular', sans-serif;
    --borderRadiusBtn: 50px;
    --borderRadius7Btn: 7px;
    --color-white-100: hsl(0, 0%, 100%);
    --text-medium: clamp(1.18rem, calc(0.17vw + 1.14rem), 1.26rem);
    --text-large: clamp(1.32rem, calc(0.19vw + 1.28rem), 1.41rem);
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
    scroll-behavior: smooth;
}

.page-enter {
    transform: translateY(10px);
    opacity: 0;
}

.page-enter-active {
    animation: slideUp 0.5s forwards;
}

@keyframes slideUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.section_Title {
    width: 100%;
    margin-bottom: 50px;

    p {
        position: relative;
        padding-left: 70px;
        margin-bottom: 0 !important;
        font-size: 2rem !important;
        font-weight: 700 !important;
        color: #fff;
    }

    p::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 3px;
        background-color: var(--skyColor);
        top: 50%;
        left: 0;
    }

    small {
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
    }
}




nav {
    background-color: var(--mainColor) !important;
    padding: 0 20px !important;
}

.brand {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;
}

.brand:hover {
    color: #fff;
}

.navbar-Menu {
    width: 100%;
    height: 4.25rem;
    margin-inline: auto;
}

.navbar-menu-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 100%;
}

.navbar-menu-block {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100vh - 4rem);
    opacity: 0;
    overflow: auto;
    pointer-events: none;
    z-index: 9;
    background-color: #fff;
    transition: opacity 0.4s ease;
}

.navbar-menu-block.is-active {
    opacity: 1;
    pointer-events: initial;
}

@media screen and (min-width: 62rem) {
    .navbar-Menu {
        display: flex;
        justify-content: space-between;
    }

    .navbar-menu-block {
        position: initial;
        height: initial;
        opacity: 1;
        overflow: auto;
        pointer-events: visible;
        background: none;
        transition: none;
    }
}

.menu {
    padding-block: 1rem;
    padding-inline: auto;
}

.menu-link {
    font-weight: 500;
    line-height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
    color: #000;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

@media screen and (min-width: 62rem) {

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        -moz-column-gap: 1rem;
        column-gap: 1rem;
        height: 100%;
        padding: unset;
    }
    
    .menu-itemm {
        display: flex;
        cursor: pointer;
        padding-inline: 0.5rem;
    }

    .menu-link {
        padding: unset;
        color: #fff;
    }

    .menu-link:hover {
        color: var(--skyColor);
    }

}

.dropdown-toggle {
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdownn-toggle i.bx {
    font-size: 1.5rem;
    line-height: inherit;
    transition: rotate 0.4s ease;
}

.dropdownn-content {
    height: 0;
    z-index: 9;
    overflow: hidden;
    background-color: #fff;
    transition: height 0.5s ease;
}

.dropdownn-column, .dropdownn-group, .dropdownn-items {
    display: grid;
}

.dropdownn-group {
    padding-bottom: 1rem;
    padding-inline: 1.5rem;
}

.dropdownn-title {
    display: flex;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
}

.dropdownn-icon i.bx {
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--mainColor);
}

.text-base {
    font-weight: bold;
}

.dropdownn-items {
    row-gap: 0.5rem;
    padding-inline: 3.5rem;
    padding-top: 0.35rem;
}

.dropdownn-link {
    font-size: .9rem;
    font-weight: 400;
    line-height: inherit;
    color: var(--mainColor);
    transition: color 0.3s ease;
}

.dropdownn-link:hover {
    color: var(--skyColor);
}

.dropdownn-show > .dropdownn-toggle i.bx {
    rotate: 180deg;
}

.dropdownn-block {
    display: flex;
    align-items: flex-start;
    column-gap: 1rem;
    padding-top: 1rem;
    padding-inline: 1rem;
}

@media screen and (min-width: 62rem) {

    .dropdownn-toggle {
        -moz-column-gap: 0.35rem;
        column-gap: 0.35rem;
        pointer-events: none;
    }
    
    .dropdownn-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 6rem;
        opacity: 0;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        pointer-events: none;
        background-color: #fff;
        border-top: 2px solid var(--skyColor);
        box-shadow: 0 0 7px var(--skyColor);
        transition: top 0.4s, opacity 0.3s ease;
    }

    .dropdownn-column {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        column-gap: 2rem;
        max-width: 75rem;
        margin-inline: auto;
    }
        
    .dropdownn-group {
        align-content: baseline;
        row-gap: 1.25rem;
        padding-block: 2rem;
    }
        
    .dropdownn-group:first-child, .dropdownn-group:last-child {
        margin: unset;
    }
        
    .dropdownn-items {
        padding-top: unset;
    }
        
    .dropdownn-block {
        padding-top: unset;
        padding-inline: unset;
    }

    .dropdownn:hover > .dropdownn-content {
        cursor: initial;
        top: 4.25rem;
        opacity: 1;
        pointer-events: initial;
    }

    .dropdownn:hover > .dropdownn-toggle i.bx {
        rotate: 180deg;
    }
}

.burger {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1.5rem;
    height: 1rem;
    border: none;
    outline: none;
    visibility: visible;
}

.burger-line {
    position: absolute;
    display: block;
    right: 0;
    width: 100%;
    height: 2.15px;
    opacity: 1;
    rotate: 0deg;
    border-radius: 0.15rem;
    background-color: #fff;
    transition: all 0.3s ease;
}

.burger-line:nth-child(1) {
    top: 0px;
}

.burger-line:nth-child(2) {
    top: 0.5rem;
    width: 70%;
}

.burger-line:nth-child(3) {
    top: 1rem;
}

.burger.is-active > .burger-line:nth-child(1) {
    top: 0.5rem;
    rotate: 135deg;
}

.burger.is-active > .burger-line:nth-child(2) {
    opacity: 0;
}

.burger.is-active > .burger-line:nth-child(3) {
    top: 0.5rem;
    rotate: -135deg;
}


@media screen and (min-width: 62rem) {
    .burger {
        display: none;
        visibility: hidden;
    }
}








/* Banner */

.banner {
    min-height: 100vh;
    background-color: var(--mainColor);
    padding-top: 40rem !important;
    color: #fff;
    position: relative;
    /* margin-top: 55px; */

    .banner_Text {
        position: absolute;
        top: 50%;
        left: 4%;
        transform: translate(5%, -50%);
    }

    h1 {
        font-size: 7vw;
        font-weight: 700;
        margin: 2rem 0 !important;
        width: 90%;
    }

    small {
        font-size: .9rem;
        font-weight: 400;
        color: var(--skyColor);
        text-transform: uppercase;
    }

        a {
            color: #fff;
            padding: 20px;
            border: 1px solid var(--skyColor);
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            display: inline-block;
            margin-top: 2rem;

            &:hover {
                transition: all 0.3s ease-in-out;
                background-color: var(--skyColor);
                color: var(--mainColor);
                border: 1px solid var(--mainColor);
            }
        }

        .banner_Image {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate( 0, -50%);

            img {
                width: 50vw;
                height: 100%;
                object-fit: cover;
            }
        }
    }


    /* our_Services */

    .our_Services {
        padding: 80px 0;
        background-color: #000; 

        h1 {
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 2rem !important;
        }

        p {
            font-size: 1.2rem;
            font-weight: 400;
        }

        .our_Services_Cards {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            .our_Services_Card {
                position: relative;
                box-shadow: var(--shadow-small);
                padding: 2rem;
                text-align: left;
                border-bottom: 2px solid #fff;
                flex-grow: 1;
                flex-basis: 200px;
                cursor: pointer;
                background-color: var(--mainColor);
                color: #fff;

                h3 {
                    font-size: 1.5rem;
                    font-weight: 700;
                    margin-bottom: 1rem !important;
                }

                p {
                    font-size: .8rem;
                    font-weight: 400;
                    margin-bottom: 0rem !important;
                }
            }
        }

        .our_Services_Card:hover {
            box-shadow: var(--shadow-large);
            transition: all 0.3s ease-in-out;
            background-color: var(--skyColor);
            color: var(--mainColor);
        }

        .our_Services_Card {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        
        .our_Services_Card:hover {
            transform: translateY(-10px);
        }
    }


    /* cybersecurity */

    .cybersecurity {
        padding: 50px 0;
        background-color: var(--mainColor);
        color: #fff;

        .cybersecurity_Title_Image {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h2 {
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 2rem !important;
            color: var(--skyColor);
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 0 !important;
            color: rgb(175, 175, 175)
        }

        .cybersecurity_Image img {
            width: 30vw;
            height: 100%;
            object-fit: cover;
        }

        .learn_More_Btn {
            color: #fff;
            padding: 10px;
            border: 1px solid var(--skyColor);
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            display: inline-block;
            margin-top: 2rem;

            &:hover {
                transition: all 0.3s ease-in-out;
                background-color: var(--skyColor);
                color: var(--mainColor);
                border: 1px solid var(--mainColor);
            }

            i {
                margin-left: 10px;
            }
        }
    }

    /* our_Partners */

    .our_Partners {
        padding: 50px 0;
        background-color: #000;

        .our_Partners_Cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;

            img {
                width: 200px;
                max-height: 120px;
                border-radius: 10px;
                object-fit: contain;
            }

            .our_Partners_Card {
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 10px var(--skyColor);
                border-radius: 10px;
                background-color: #fff;
                padding: 10px;
            }
        }
    }

    .footer {
        padding: 50px 0 16px 0;
        background-color: var(--mainColor);

        .footer_Lists {
            display: flex;
            justify-content: center !important;
            align-items: center;

            .nav_Footer {
                display: flex;
                justify-content: space-around;
                width: 100%;
            }

            .footer_List {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 0 2rem;

                h3 {
                    font-size: 1.5rem;
                    font-weight: 700;
                    margin-bottom: 1rem !important;
                    color: #fff;
                }

                ul {
                    
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                
                    li a {
                        font-size: 1rem;
                        font-weight: 400;
                        margin-bottom: 0 !important;
                        color: #fff;
                        padding-bottom: 5px;
                    }

                    li a:hover {
                        border-bottom: 1px solid var(--skyColor);
                    }
                }
            }

            .footer_Logo {

                img {
                    width: 150px;
                }
            }
        }

        hr {
            background-color: var(--skyColor);
        }

        small {
            color: #fff;
        }
    }

@media screen and ( min-width: 1200px ) {

    .banner {
        min-height: 90vh;
        background-color: var(--mainColor);
        padding: 2rem 0;
        color: #fff;
        position: relative;
    }

    
}



@media screen and ( max-width: 480px ) {

    .banner {
        min-height: 55vh !important;
        background-color: var(--mainColor);
        padding: 2rem 0;
        color: #fff;
        position: relative;
    }
}

@media screen and ( max-width: 768px ) {

    .banner {
        min-height: 85vh;
        background-color: var(--mainColor);
        padding: 2rem 0;
        color: #fff;
        position: relative;
    }

    .our_Partners_Cards {
        justify-content: center !important;
    }

    .cybersecurity {

        .cybersecurity_Title_Image {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;

            img {
                width: 35vw;
                margin-bottom: 30px;
            }

            h2 {
                font-size: 2rem;
            }
        }


    }

    .footer_Lists {
        display: flex !important;
        justify-content: space-between !important;
        flex-direction: column !important;
        text-align: center;

        h3 {
            margin-top: 40px !important;
        }

        .nav_Footer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}


@media screen and ( max-width: 992px ) {

    .banner {
        min-height: 55vh !important;
        background-color: var(--mainColor);
        padding: 2rem 0;
        color: #fff;
        position: relative;
    }

    .footer_Lists {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        flex-direction: column !important;

        h3 {
            margin-top: 40px !important;
        }
    }

    .footer_Logo {
        margin-bottom: 50px;
    }
}






