
main {
    background-color: var(--mainColor);
}

.services_hero_Image {
    position: relative;
}

.services_hero_Image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.services_hero_text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(5,17,43);
    background: linear-gradient(180deg, rgba(5,17,43,0) 0%, rgba(5,17,43,0.6103233529740021) 52%, rgba(5,17,43,1) 100%);
    /* background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.61) 52%, rgb(255, 255, 255) 100%);
     */padding: 15px;
    color: #fff;
    box-sizing: border-box;

    h1 {
        margin: 0;
        font-size: 3rem;
        font-weight: bold;
    }
    
    p {
        margin: 25px 0 0 0;
        font-size: 1.5rem;
    }
}

.services_Page_Cards {
    padding: 50px 0;
    border-bottom: 1px solid gray;

    .services_Page_Card {
        color: #fff;

        h2 {
            position: relative;
            padding-left: 70px;
            margin-bottom: 50px !important;
            margin-bottom: 0 !important;
            font-size: 2rem !important;
            font-weight: 700 !important;
            color: #fff;
        }
    
        h2::before {
            position: absolute;
            content: '';
            width: 60px;
            height: 3px;
            background-color: var(--skyColor);
            top: 50%;
            left: 0;
        }

        ul li {
            margin: 7px 0 !important;
        }
    }
}

.our_Services {
    padding: 80px 0;
    background-color: var(--mainColor);

    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 2rem !important;
    }

    p {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .our_Services_Cards {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .our_Services_Card {
            position: relative;
            border: 1px solid var(--skyColor);
            padding: 1.2rem 1.2rem 1.2rem 1.2rem;
            text-align: left;
            border-bottom: 3px solid #fff;
            flex-grow: 1;
            flex-basis: 200px;
            cursor: default;
            /* background-color: var(--skyColor); */
            color: var(--mainColor);

            i {
                font-size: 50px;
                color: var(--skyColor);
                display: flex;
                margin-bottom: 2rem;
                transition: all 0.3s ease-in-out;
            }

            img {
                position: absolute;
                width: 40px;
                bottom: 0 !important;
                right: 0 !important;
                transform: translate(0%, 350px); 
            }

            ul li {
                font-size: .8rem;
                margin: 15px 0 !important;
                border-left: 2px solid var(--skyColor);
                line-height: 13px;
                color: var(--skyColor);
                padding-left: 10px !important;
            }

            h3 {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--skyColor);
                margin-bottom: 2rem !important;
            }

            p {
                font-size: .8rem;
                color: var(--skyColor);
                font-weight: 400;
                margin-bottom: 0rem !important;
            }
        }
    }

    .our_Services_Card:hover {
        transition: all 0.3s ease-in-out;
        background-color: var(--skyColor);
        color: var(--mainColor);

        i {
            transition: all 0.3s ease-in-out;
            color: var(--mainColor);
        }

        h3 {
            transition: all 0.3s ease-in-out;
            color: var(--mainColor);
        }

        ul li {
            transition: all 0.3s ease-in-out;
            border-left: 2px solid var(--mainColor);
            color: var(--mainColor);
        }
    }

    .our_Services_Card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .our_Services_Card:hover {
        transform: translateY(-10px);
    }
}

@media screen and ( min-width: 1300px ) {

    .services_hero_Image img {
        height: 600px;
    }
    
    .contact_Page_Card {
        color: #fff;

        h2 {
            font-size: 3.5rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}


@media screen and ( max-width: 480px ) {

    .services_hero_text {

        h1 {
            font-size: 2rem;
        }
        
        p {
            font-size: 1rem;
        }
    }
}